html, body {
    font-weight: 200;
    background-color: $datopia-bg-light;
}

.site-header {
    padding: 0;
}

.datopia-home-link img {
    height: 8em;
}

.post-meta {
    text-align: right;
    font-style: normal;
    font-family: $heading-font-family;
    font-size: 90%;
    display: block;
}

.post-link, .post-title {
    font-weight: 300 !important;
    color: $datopia-primary-blue !important;
}

.posts .py3:first-of-type {
    padding-top: 0;
}

.post-header h1 {
    padding-top: 0;
    margin-top: 0;
}

.post-summary {
    text-indent: 2em;
    display: block;
    font-size: 90%;
}

.post-header .post-summary {
    font-style: italic;
    font-size: 80%;
    margin-left: 2em;
}

blockquote {
    border-left: 2px solid $datopia-primary-blue;
    padding: 1rem;
}

a, a:hover {
    background-image: none;
    font-weight: 600;
}

.post-content > p {
    text-indent: 2em;
}

.post-author {
    font-size: 120%;
}

h1, h2, h3, h4 {
    font-weight: 300;
}

.footnote {
    font-style: italic;
    margin-left: 2em;
}

body sup {
    font-family: monospace;
}

pre {
    background-color: transparent;
}

.literal {
    float: right;
    display: block;
    max-width: 35%;
    font-size: 80%;
    margin-top: 0;
    margin: 0 0 4ex 4ex;
    border-width: 0;
    font-style: normal;
    font-weight: 600;
    color: #777777;
}

.left.literal {
    float: left;
    margin-left: 0;
}

.attrib {
    text-align: right;
    padding-top: 0.5ex;
    font-style: italic;
}

.footnote {
    line-height: 1rem;
}

small, .small {
    font-size: 0.707rem;
}

.infobox-title {
    color: #666666;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
    border-bottom: solid 2px $datopia-primary-blue;
    margin-left:   90px;
    margin-bottom: 8px;
    padding-bottom: 8px;
    font-size: 1.5rem;
}

.infobox {
    background-image: url(/images/info.svg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 80px 80px;
    background-opacity: .4;
    margin: 1.5rem 0 1.5rem;
    min-height: 90px;
}

.infobox p {
    font-size: .8rem;
    padding-left: 90px;
    margin-bottom: 0px;
    text-indent: 2em;
}

.bot-left {
    position: relative;
    padding: 4ex 0 4ex 4ex;
}

.bot-left:before, .bot-left:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: -1px;

}
.bot-left:before {
  top: -1px;
  width: 1px;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from($datopia-primary-blue), to(transparent));
  background-image: -webkit-linear-gradient(transparent, $datopia-primary-blue);
  background-image: -moz-linear-gradient(transparent, $datopia-primary-blue);
  background-image: -o-linear-gradient(transparent, $datopia-primary-blue);
}
.bot-left:after {
  right: -1px;
  height: 1px;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from($datopia-primary-blue), to(transparent));
  background-image: -webkit-linear-gradient(left, $datopia-primary-blue, transparent);
  background-image: -moz-linear-gradient(left, $datopia-primary-blue, transparent);
  background-image: -o-linear-gradient(left, $datopia-primary-blue, transparent);
}

body pre, body code {
    background-color: transparent;
}
